.App {
  background-color: rgb(67, 69, 78);
}

.about-me-text {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  max-width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
}

.social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  padding: 1rem;
}

.social-icon-spacing {
  padding: 1rem;
  opacity: .65;
  transition: 200ms;
}

.social-icon-spacing:hover{
  opacity: 1;
}

.underline {
  color: white;
  display: flex;
  justify-content: center;
  padding: 1.5rem
}

.underline.top {
  position: relative; top: 130px;
}

a { color:rgb(62, 228, 198)}